.outline
{
    margin-left: 351px;
    margin-top: 55px
}
#main_doc {
  width: 75%;
  float:right;
}
#navbaar {
    position: absolute;
    top: 44px;
    left: 50px;
    border: #99a1a3;
    border-width: 3px;
    border-style: solid;
    border-top: none;
    border-left: none;
    padding-right: 7px;
    padding-bottom: 13px;
}
    .liststyle li{
        list-style: none;
        
    } 
    .code {
        background-color: #D3D3D3;
        padding: 7px;
        border-radius: 6px;
        font-size: 15px;
        display: inline-block;
        line-height: 22px;
    }
.points {
    border: black;
    border-width: 0.5px;
    border-style: solid;
    border-right: none;
    border-left: none;
    border-bottom: none;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 7px;
}
.navbarlink {
    text-decoration: none;
    color: black;
    border-right: none;
    border-left: none;
    border-bottom: none;
    padding-left: 25px;
    padding-top: 7px;
}