
               .first
               {
                   
                   
                background-color: rgb(23, 23, 209);
                color: white;        
               }
               .second
               {
                 padding: 20px;
                 padding-left:50px ;  
                
                background-color:rgb(42, 42, 134);
                color: #add8e6;   
               }
               .third
               {
                   
                width: 25%;
                background-color:green;
                color:white; 
               }
               .four
               {
                   
             
                background-color:rgb(216, 210, 210);
                color:grey; 
               }
               .five
               {
                   
              
                background-color:purple;
                color:white; 
               }
               .six
               {
                   
                
                background-color:rgb(8, 8, 90);
                color:white; 
               }
               .seven
               {
                
                border: 3px solid grey;
                 color: green;
               }
               .eight
               {
                   
                
                background-color: white ;
                border: 3px solid blue;
                color:rgb(8, 8, 90);  
               }
               .nine
               {
               
                
                background-color:  grey ;
                color:white; 
               }
 